.restaurant-detail-section {
  .restaurant-detail {
    border-radius: 10px;
    overflow: hidden;
    font-weight: 500;
    margin-bottom: 20px;

    & > div {
      padding: 15px;
      background-color: #f5f5f5;

      .res-detail-review {
        font-size: 14px;
      }

      .res-detail-review,
      .res-detail-phone,
      .res-detail-email {
        margin-bottom: 10px;
      }
    }
  }
  .reviews-container {
    margin-bottom: 20px;

    .restaurant-review {
      background-color: #f5f5f5;
      padding: 15px;
      border-radius: 10px;

      p:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    .restaurant-review:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  .no-rev {
    margin: 40px 0 80px;
    font-weight: 500;
    text-align: center;
    text-decoration: underline;
  }

  .review-form {
    label {
      margin-bottom: 10px;
      display: block;

      span {
        margin-bottom: 5px;
        display: block;
      }

      .name-input,
      .comment-input {
        display: block;
        width: 100%;
        padding: 8px;
        border-radius: 5px;
        border: 1px solid lightgrey;
      }

      .comment-input {
        resize: vertical;
      }

      .stars-input {
        width: 100%;
        display: block;
      }
    }
  }
}
